@using static Commom.Extensions.StringExtensions
@model Commom.DTOs.ClientDTO

@{
    ViewData["Title"] = "Edit";
}
<environment include="Development">
    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
    <script src="~/js/views/client/client.js" type="text/javascript"></script>
</environment>

<environment exclude="Development">
    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/views/client/client.min.js"></script>
</environment>

<h2>Editar</h2>
<h4>Digite abaixo as informações correspondentes.</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <input type="hidden" asp-for="Type" />

            @if (Model.Type == Commom.Enums.ClientTypeEnum.Person)
            {
                <div id="EditPerson">
                    <div class="form-group">
                        <label asp-for="Cpf" class="control-label">CPF</label>
                        <input asp-for="Cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                        <label class="text-danger">@ViewData["ErrorMessage"]</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">Nome</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Sobrenome</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label">Data de Nascimento</label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            }
            else
            {
                <div id="EditOrganization">
                    <div class="form-group">
                        <label asp-for="Cnpj" class="control-label">CNPJ</label>
                        <input asp-for="Cnpj" class="form-control" />
                        <span asp-validation-for="Cnpj" class="text-danger"></span>
                        <label class="text-danger">@ViewData["ErrorMessage"]</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="TradeName" class="control-label">Nome Fantasia</label>
                        <input asp-for="TradeName" class="form-control" />
                        <span asp-validation-for="TradeName" class="text-danger"></span>
                    </div>
                </div>
            }

            <div class="form-group">
                <label asp-for="Address" class="control-label">Endereço</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label">Telephone</label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


